

 
body{
	display:block;
	margin-left:auto;
	margin-right:auto;
	max-width: 1024px;
	min-width: 420px;
	font-size:16px;
	font-family: 'Open Sans', sans-serif;
}

@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-Regular-webfont.eot');
    /* src fallbacks ommitted for brevity */
    font-weight: normal;
    font-weight: 400;
    font-style: normal;
}

div.main{
		display:border-box;
}

.main-slider{
	margin: 30px;
}

nav{
	display: block;
	margin-left: auto;
	margin-right:auto;
	margin-bottom: 1.8em;
	
}
ul{
	list-style:none;
	padding-left:3px;
	}
	
ul li:before{
	content: "\3E \0020";
}

article{
box-sizing:border-box;

}

h1{
font-family: Georgia;
}





img.logo{
margin-bottom:30px;

}


#top{
	
	
}

.lk{
	margin-right:10px;
	
	}

#altmynd{
	background-image:url('header2.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	min-height:300px;
	position: relative;
	
}
div.inpic{
	display:block;
	
	background-color:#ffffff;
	opacity:0.60;
	position:absolute;
	width:100%;
	bottom:0;
	box-sizing:border-box;
	padding-left:40px;
	padding-right: 40px;
	}

	.a1{
		margin-bottom:15px;
		}
	.art{
		margin-bottom:25px;
		}
.lin{
		display: inline;
		box-sizing:border-box;
		border: solid;
		border-width:1px;
		height: 40px;
		text-align: center;
		padding:0.5em;
		text-transform: uppercase;
}
.lin:first-letter{
	font-size:150%;
	}

.bottom{
	margin-top:3em;
	box-sizing:border-box;
	
}

#b1{
	margin-bottom:1em;
	}


a:link{
	color: #333;
	text-decoration:none;
}
	
a:visited{
	color: #55c;
	}

a:hover{
	color:#55c;
	}

a.lk:hover{
		 border-bottom: solid 2px black;
		 }

a.bt:hover{
	text-decoration:underline;
	}

	
