@media (max-width: 480px){ 
	body { 
		background-color:white;
		font-size:1em;
		} 
	img.logo{
		width:50%;
		height:50%;
		display:block;
		margin-left:auto;
		margin-right:auto;
		}
	nav{
		width:85%;
		
		}
	#top{
		font-size: 1.5em;
		width: 50%;
	display: inline;
	text-align:center;
		}
	.lin{
		width: 300px;
		}
	#altmynd{
		font-size:2em;
		}
	#main{
		box-sizing:border-box;
		padding-left:20px;
		padding-right:20px;
		}
	article{
		width:100%;
		}
	h1{
			font-size: 2em;
			}
	h2{
		font-size:1.5em;
		}
	.bottom{
	border-top:solid;
	border-width: 1px;
	padding-left:20px;
		padding-right:20px;
	}
	
	/*undirsíður*/

	.frettamynd{
		display:none;
		}

	.main-slider{
		display: none;
	}
	
}